
{% extends 'base.html' %}

{% block body %}
    
    <!-- make a table and create row headers -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <!-- for every melon id in our cart, we print info from that melon's 
             dictionary -->
        {% for melon in cart %}
        <tr>
            <td>{{ cart[melon]["melon_name"] }}</td>
            <td>{{ cart[melon]["qty_ordered"] }}</td>
            <td>{{ cart[melon]["unit_price_str"] }}</td>
            <td>{{ cart[melon]["total_price_str"] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Total: {{total}}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
