
{% extends 'base.html' %}

{% block body %}


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        {% for melon in cart %}
        <tr>
            <td>{{ cart[melon]["melon_name"] }}</td>
            <td>{{ cart[melon]["qty_ordered"] }}</td>
            <td>{{ cart[melon]["unit_price"] }}</td>
            <td>{{ cart[melon]["total_price"] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Total: $27.00</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
